{% extends 'base.html' %}
{% set active_page = "/artists" %}
{% block title %}Artists{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/artists.css" />
{% endblock %}

{% block content %}
<h1 class="Quote">'' Talented Artists from all Over the World"</h1>
<div class="artists-content">
  {% for artist_id, artist in artists.items() %}
  <h1 class="Heading">{{ artist.name }}</h1>
  <a href="/artists/{{ artist_id }}">
    <div class="artist-container" style="background-image: url('/images/artist/{{ artist_id }}/cover');">
      {% for album_id, album in artist.albums.items() %}
      <figure class="outer-image1">
        <img src="/images/artist/{{ artist_id }}/albums/{{ album_id }}" />
        <figcaption>
          <div class="artist-name">{{ album.name }}</div>
          ({{ album.year }})
        </figcaption>
      </figure>
      {% endfor %}
      <img src="/images/artist/{{ artist_id }}/pfp" class="center-image1"/>
    </div>
  </a>
  <br /><br /><br />
  {% endfor %}
</div>
{% endblock %}