body {
    margin: 0;
    position: relative;
    padding-top: 120px;
    text-align: center;
    background-image: url("../../images/background.jpeg");
    min-height: 100vh;
    font-size: 20px;
}

.meanius {
    position: fixed;
    display: grid;
    grid-template-columns: max(70px, 10%) 30% 8%;
    top: 0;
    background: linear-gradient(178deg, #FEF665 50%, #847247);
    width: 100%;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 65px;
}

.meanius-item {
    grid-row: 1;
}