body {
    margin: 0;
    text-align: center;
    background-image: url("../../images/background.jpeg");
    font-size: 20px;
}

.meanius {
    display: grid;
    grid-template-columns: max(70px, 10%) 30% 8%;
    background: linear-gradient(178deg, #FEF665 50%, #847247);
    width: 100%;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 65px;
}

.meanius-item {
    grid-row: 1;
}