.footer {
    background-image: url("../../images/banner_2.jpeg");
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 180px;
}