{% extends 'base.html' %}
{% set active_page = "/index.html" %}
{% block title %}Meanius{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block content %}
<ul class="animator">
  <li class="quote">
    <div class="quote-background">
      <div class="quote-text">
        <big style="font-size: 60px"> We dont have music<br /></big>
        you like<br />
        in fact we will<br />
        show you the right<br />
        music you need to hear
        <p style="text-align: left; padding-left: 60px">- Meanius TDM</p>
      </div>
      <br />
      <div class="random-text">
        Are you tired of music recommendations that are shallow, biased, or
        downright unhelpful? <br />
        Look no further than our critical music review website!<br />
        With our honest and objective evaluations of musical works, <br />
        we provide valuable insights that are highly sought after audiences.
        <br /><br />
        Our detailed and thoughtful critiques of music are the gold standard for
        excellence in <br />the industry.
      </div>
    </div>
  </li>
  <li class="quote2">
    <div class="quote-background">
      <div class="quote-text">
        <big style="font-size: 50px; font-weight: 900">
          There are two kinds <br />
          of music:</big><br />
        good and bad. <br />
        Unfortunately, most people <br />
        prefer the latter. <br />
        <p style="text-align: center">- Leopold Stokowski</p>
      </div>
      <br />
      <div class="random-text">
        Are you tired of music recommendations that are shallow, biased, or
        downright unhelpful? <br />
        Look no further than our critical music review website!<br />
        With our honest and objective evaluations of musical works, <br />
        we provide valuable insights that are highly sought after audiences.
        <br /><br />
        Our detailed and thoughtful critiques of music are the gold standard for
        excellence in <br />the industry.
      </div>
    </div>
  </li>
  <li class="quote3">
    <div class="quote-background">
      <div class="quote-text">
        <big style="font-size: 70px"> There is no such thing</big>
        as bad music<br />
        only badly played music.<br />
        <p style="text-align: center">- Arturo Toscanini</p>
      </div>
      <div class="random-text">
        Are you tired of music recommendations that are shallow, biased, or
        downright unhelpful? <br />
        Look no further than our critical music review website!<br />
        With our honest and objective evaluations of musical works, <br />
        we provide valuable insights that are highly sought after audiences.
        <br /><br />
        Our detailed and thoughtful critiques of music are the gold standard for
        excellence in <br />the industry.
      </div>
    </div>
  </li>
  <li class="quote">
    <div class="quote-background">
      <div class="quote-text">
        <big style="font-size: 60px"> We dont have music<br /></big>
        you like<br />
        in fact we will<br />
        show you the right<br />
        music you need to hear
        <p style="text-align: left; padding-left: 60px">- Meanius TDM</p>
      </div>
      <br />
      <div class="random-text">
        Are you tired of music recommendations that are shallow, biased, or
        downright unhelpful? <br />
        Look no further than our critical music review website!<br />
        With our honest and objective evaluations of musical works, <br />
        we provide valuable insights that are highly sought after audiences.
        <br /><br />
        Our detailed and thoughtful critiques of music are the gold standard for
        excellence in <br />the industry.
      </div>
    </div>
  </li>
  <li class="quote2">
    <div class="quote-background">
      <div class="quote-text">
        <big style="font-size: 50px; font-weight: 900">
          There are two kinds <br />
          of music:</big><br />
        good and bad. <br />
        Unfortunately, most people <br />
        prefer the latter. <br />
        <p style="text-align: center">- Leopold Stokowski</p>
      </div>
      <br />
      <div class="random-text">
        Are you tired of music recommendations that are shallow, biased, or
        downright unhelpful? <br />
        Look no further than our critical music review website!<br />
        With our honest and objective evaluations of musical works, <br />
        we provide valuable insights that are highly sought after audiences.
        <br /><br />
        Our detailed and thoughtful critiques of music are the gold standard for
        excellence in <br />the industry.
      </div>
    </div>
  </li>
</ul>

<!--  end of fancy intro page  -->

<br />
<div class="stuff">
  <p class="Heading">TOP Artists</p>
  <ul class="top-list">
    {% for id in top.artists %}
    <a href="/artists/{{ id }}">
      <figure class="top">
        <img src="/images/artist/{{ id }}/pfp" alt="Artist's PFP" />
        <figcaption>
          <big style="font-size: 25px; font-weight: 900">{{ artists[id].name }}</big><br /><br />
          {{ artists[id].albums|length }} albums
        </figcaption>
      </figure>
    </a>
    {% endfor %}
  </ul>
  <p class="Heading">TOP Albums</p>
  <ul class="album-list">
    {% for artist_id, album_id in top.albums %}
    <a href="/artists/{{ artist_id }}/albums/{{ album_id }}">
      <figure class="album">
        <img src="/images/artist/{{ artist_id }}/albums/{{ album_id }}" alt="Album Cover" />
        <figcaption>
          <big style="font-size: 25px; font-weight: 900">
            {{ artists[artist_id].albums[album_id].name }}
          </big><br /><br />
          {{ artists[artist_id].name }}
        </figcaption>
      </figure>
    </a>
    {% endfor %}
  </ul>

  <p class="Heading">TOP songs</p>
  <a href="artists/2/albums/1">
    <ul class="songs-list">
      {% for artist_id, album_id, song_id in top.songs %}
      <figure class="songs">
        <img src="/images/artist/{{ artist_id }}/songs/{{ song_id }}" alt="Song cover" />
        <figcaption>
          <big style="font-size: 25px; font-weight: 900">
            {{ artists[artist_id].albums[album_id].songs[song_id].name }}
          </big><br /><br />
          {{ artists[artist_id].albums[album_id].name }}
        </figcaption>
      </figure>
      {% endfor %}
    </ul>
  </a>
  <br />
</div>

<!--  whenever anything is clicked on this artist list take them to artists page 
      not to the respective artist page but the whole artist page -->
<a href="/artists">
  <div class="wood-stuff">
    <h1><u>Check Out other artists</u></h1>
    <ul class="artist-list">
      {% for j in range(2) %}
        {% for i in range(1, artists|length + 1) %}
          <li class="songs">
            <img src="/images/artist/{{ i }}/pfp" alt="artist {{ i }}" />
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
</a>
{% endblock %}