{% extends 'base.html' %}
{% set active_page = "/search.html" %}
{% block title %}Search{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/search.css" />
{% endblock %}

{% block content %}
<div class="search-box">
  <form id="song-search">
    <input type="text" placeholder="Search for songs.." name="search" />
    <button type="submit"><i class="search"></i></button>
  </form>
  <div id="song-filter">
    <div id="song-filter-inner">
      <label for="duration">Filter Duration</label>
      <input type="checkbox" id="duration" name="duration" value="dur" />
      <input type="number" placeholder="mm" id="duration-m" name="duration-m" step="1" />
      :
      <input type="number" placeholder="ss" id="duration-s" name="duration-s" step="1" />
      <br />
      <label for="explicitness">Filter explicit songs</label>
      <input type="checkbox" id="explicitness" name="explicitness" value="explicit" />
      <br />
      <button id="clear-filters">Clear Filters</button>
    </div>
  </div>
</div>
<div id="songs-list">
  <p class="song-entry song-entry-2">
    Once you search, the results will appear here for you!
  </p>
</div>
{% endblock %}

{% block extra_js %}
<script src="/scripts/search.js"></script>
{% endblock %}