{% extends 'base.html' %}
{% set active_page = "/spotlight.html" %}
{% block title %}Spotlight{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="/css/spotlight.css" />
{% endblock %}

{% set artist_id = 5 %}
{% set albums = artists[artist_id].albums %}

{% block content %}
<img src="/images/spotlight.png" class="spotlight_image" alt="spotlight" />

<h2>NEXT DROP! &nbsp;&nbsp; in</h2>

<p id="countdown">Loading...</p>

<div class="quote_box">
  <div class="gradient">
    <p class="name">PePe LISA</p>
    <hr />
    <ul class="quote_list">
      <li class="quote-common quote1"></li>
      <li><img class="photo" src="" alt="image1" /></li>
      <li class="quote-common quote2"></li>
    </ul>
  </div>
</div>

<h1>Albums</h1>
<div class="albums-outer-grid">
    {% for album_id, album in albums.items() %}
    <div class="album{% if loop.index0 %} album-shadow{% endif %}">
        <figure style="margin: 0">
            <a href="/artists/{{ artist_id}}/albums/{{ album_id }}">
                <img src="/images/artist/{{ artist_id }}/albums/{{ album_id }}" alt="album1" />
            </a>
            <figcaption class="album-caption">
                <p>{{ album.name }}</p>
                <p>{{ album.songs|length }} songs - {{ album.year }}</p>
            </figcaption>
        </figure>
    </div>
    {% endfor %}
</div>

<h1>Top Songs</h1>
<div class="top-songs-grid">
    {% for album in albums.values() -%}
        {% for song_id, song in album.songs.items() -%}
            {% if song.has_img -%}
            <figure>
                <img src="/images/artist/{{ artist_id }}/songs/{{ song_id }}" />
                <figcaption style="text-align: center">{{ song.name }}</figcaption>
            </figure>
            {% endif -%}
        {% endfor -%}
    {% endfor -%}
</div>

<br /><br />

<!-- past reviews -->

<h1>Past Reviews</h1>
<hr style="color: rgba(102, 43, 10, 0.88); margin-bottom: 40px" />
<ol id="past-reviews"></ol>

<br />
<hr style="color: rgba(102, 43, 10, 0.88); margin-bottom: 40px" />
<br />

<!-- input box -->

<form id="review-form">
  <div class="quote_box" style="width: 90%">
    <div class="gradient">
      <p class="review_heading">Your Review</p>
      <hr />
      <div class="input_box">
        <ul class="review_inputs">
          <input class="review_input_row_1 title" type="text" name="heading" id="heading"
            placeholder="Heading or summary" />
          <select class="review_input_row_1 album_name" name="album" id="album">
            <option class="option" value="" disabled selected>
              (Select Album)
            </option>
          </select>
          <div class="review_input_row_1 review-rating">
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 stars"></label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 stars"></label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 stars"></label>
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 stars"></label>
          </div>
        </ul>
        <textarea class="review" name="review" id="review" placeholder="Type your review here..."></textarea>
        <div class="review_inputs">
          <input class="username" type="text" name="username" id="username" placeholder="Your Name" />
          <div style="flex-basis: 60%"></div>
          <button class="submit_button" type="submit" id="clear-button">
            Clear
          </button>
          <button class="submit_button" type="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}

{% block extra_js %}
<script src="/scripts/spotlight.js"></script>
<script src="/scripts/review.js"></script>
{% endblock %}